code{background-color:#fdf6e3;}

body{margin-right: 15%; margin-left: 15%; margin-top:2%; margin-bottom:2%; }

      .teg{background-color:#fdf6e3;}

          .teg1 { padding:10px;
                  padding-left:39px;
          	       background-color:#eadcea; 
          	      border-left:4px solid #b496b4;; }

             .mark{background-color:#ffff00;}

       .table{background-color:#eadcea;}

       .n1{padding:5px;}

   .f{background-color:#eadcea;}

   .h1{margin-bottom:0.5em; margin-top:0.5em;  }

  
   